body {
    margin: auto;
    padding: 50px;
    position: relative;
    justify-content: stretch;
    width: max(50%, 450px);
    background-color: rgb(251, 237, 210);;
    color: rgb(22, 4, 69);
}

h1 {
    color: rgb(108, 41, 177);
    background-color: rgb(251, 237, 210);
    border-right: 5px solid rgb(227, 166, 33);
    border-bottom: 10px solid rgb(227, 166, 33);
    border-top: 1px solid rgb(227, 166, 33);
    border-radius: 25px;
    text-align: center;
    /* width: max(80%, 500px); */
    margin: auto;
    font-size:xx-large;
}

section, main>div{
    border-color:rgb(244, 191, 75);
    border-style: dotted;
    border-width: 20px;
    margin-top: 50px;
    padding: 30px;
}

#imgVene{
    width: 200px;
    float: right;
    position: relative;
    bottom: 10px;
}

#imgMilitary{
    width: 200px;
    float: left;
    position: relative;
    bottom: 50px;
    margin-right: 20px;;
}

#imgTech{
    width: 175px;
    float: right;
    position:relative;
    bottom: 50px;
    left: 10px;
}

section article:nth-child(2){
    margin-top: 100px;
} 

section article:nth-child(3){
    margin-top: 90px;
} 
section article:nth-child(4){
    margin-top: 50px;
    text-align: center;
    margin-bottom: 5px;
}

/* dl, ol{
    width: 30%;
} */

main>div:nth-of-type(1){
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: auto;
    margin-top: 50px;
}

#quiz{
    display: flex;
    justify-content: space-around;
    padding:20px 0px;
}

#quizQ *{
    padding: 5px 0px;
    text-align: center;
}

ul li{
    padding: 5px 10px;
    margin: 5px 0px;
    border-radius: 10px;
}

button{
    margin-left:70px
}

#initialWord{
    font-size: 20px;
    font-weight: bolder;
}

ol {
    list-style-position: inside;
    list-style-type: decimal;
    /* margin-left: 25px; */
}

ol li{
    margin-left: 15px;
    margin: 15px 0px;
}

ol li:first-child{
    list-style-type: none;
    margin-left: -10px;
    text-align: center;
    font-size: large;
}

dd {
    text-align: auto;
}

dt{
    padding: 10px 10px 10px 10px;
    padding-left: -10px;
    font: bold medium auto, large; 
    text-align: left;
}

dl p{
    font-weight: 900;
    text-align: auto;
    margin-left: -20px;
    margin-top: 10px;
    text-decoration: underline double 2px;
}
button{
    width: 130px;
    height: 75px;
    border-radius: 8px;
    background-color: rgb(153, 86, 185);
    color: aliceblue;
    position: relative;
    right: 40px;
}

button:active {
    background-color: rgb(244, 220, 255);
    color: gray;
  }

#list-p{
    font-weight: bolder;
}
