
ul, ol{
    
    width: max(50%, 500px);
}

ol {
    list-style-position: inside;
    list-style-type: decimal;
}

ul li {
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 5px;
}

ol li {
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 5px;
}


h1 {
    color: rgba(0, 101, 201,1);
    background-color: rgb(255, 228, 179);
    border-right: 5px solid sandybrown;
    border-bottom: 8px solid sandybrown;
    border-radius: 25px;
    text-align: center;
    width: max(80%, 500px);
    margin: auto;
    font-size:xx-large;
}

#imgVene{
    width: 200px;
    float: right;
    position: relative;
    bottom: 20px;
}

#imgTech{
    width: 200px;
    float: right;
    position: relative;
    bottom: 40px;
    left: 10px;
}

#imgMilitary{
    width: 250px;
    float: left;
    position: relative;
    bottom: 60px;
    margin-right: 20px;;
}

section article:nth-child(2){
    margin-top: 100px;
} 

section article:nth-child(3){
    margin-top: 70px;
} 

/* header, main {
    margin: 10px 50px;
    position: relative;
   justify-content: stretch;
   margin: au;
} */

#header-p {
    /* width: max(50%, 500px); */
    margin-top: 50px;
    text-align: center;
    text-decoration: solid;
    font-size: x-large;
    font-weight: bold;


}

#list-p{
    font: bold large auto, auto;
    margin-bottom: 15px;
}

main p {
    width: max(50%, 500px);
    margin-top: 20px;
    color: blueviolet;
}

h2{
    font-size:larger;
    font-style: italic;
    color: green;
    margin-top: 35px;
}

button{
    margin: 10px 0px;
}

#initialWord{
    font-weight:bolder;
}

dt{
    padding: 5px;
    font: bold medium auto, auto;
    text-align: auto;

}

dd {
    padding: 5px 40px;
    text-align: auto;
    display: flex;
}

dl{
    margin: 10px 0px;
    text-align: auto;
}

dl p{
    font: bold large auto, auto;
    text-align: auto;
}

div{
    display: inline-block;
    display: flex;
    justify-content: space-around
}

#e1{
    font-weight: bold;
    font-size: x-large;
    color: red;
}

#e2{
    font-weight: bold;
    font-size: x-large;
}
/* dt, dl, dd{
    border: 1px solid black;
} */

/* *{
    border : 1px solid rgb(191, 0, 0); WHY DIDN'T THIS WORK FOR THE header p ELEMENT 
    WHY DID APPLYING THIS AT THEN WITH A RANDOM PROPERTY RESET EVERYTHING except ul
    padding-left: 10px;
} */