
ul, ol{
    
    width: max(50%, 500px);
}

ol {
    list-style-position: inside;
    list-style-type: decimal;
}

ul li {
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 5px;
}

ol li {
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 5px;
}

h1 {
    color: rgba(0, 101, 201,1);
    background-color: rgb(255, 228, 179);
    border-right: 5px solid sandybrown;
    border-bottom: 8px solid sandybrown;
    border-radius: 25px;
    text-align: center;
    width: max(50%, 500px);
    font-size:xx-large;
    margin-top: 25px;
    padding-right: 5px;  /* HOW DO I SHIFT JUST THE CONTENT. RIGHT NOW TEXT ALIGN right IS TOO AGGRESSIVE */
}

header, main {
    margin: 10px 50px;
}

#header-p {
    width: max(50%, 500px);
    margin-top: 20px;
}

#list-p{
    font: bold large auto, auto;
    margin-bottom: 15px;
}

main p {
    width: max(50%, 500px);
    margin-top: 20px;
    color: blueviolet;
}

h2{
    font-size:larger;
    font-style: italic;
    color: green;
    margin-top: 35px;
}

button{
    margin: 10px 0px;
}


dt{
    padding: 5px;
    font: bold medium auto, auto;
}

dd {
    padding: 5px 40px;
}

dl{
    margin: 10px 0px;
}

dl p{
    font: bold large auto, auto;
}

/* dt, dl, dd{
    border: 1px solid black;
} */

/* *{
    border : 1px solid rgb(191, 0, 0); WHY DIDN'T THIS WORK FOR THE header p ELEMENT 
    WHY DID APPLYING THIS AT THEN WITH A RANDOM PROPERTY RESET EVERYTHING except ul
    padding-left: 10px;
} */